@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
}

header {
  border-bottom: 1px solid #777;
  margin-bottom: 1em;
}

header h1 {
  margin: 0.25em;
  text-align: center;
}

main {
  margin-left: 2em;
  display: flex;
  justify-content: space-between;
}

.board {
  border: 1px solid #777;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 540px;
  width: 540px;
}

.cell {
  border: 1px solid #777;
  cursor: pointer;
}

.selected {
  background: #ffe1c4;
}

.set-cell {
  color: #101010;
  font-size: 45px;
  text-align: center;
}

.definite-cell {
  color: #0000fa;
  font-size: 2.9rem;
  text-align: center;
}

.possibles-cell {
  padding: 5px;
  color: #616161;
  font-size: 0.9rem;
}

.panel {
  align-self: start;
  justify-self: start;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 2fr 1fr 1fr 1fr;

  padding: 0 2em;
  width: 24rem;
}

.panel button {
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  width: 4rem;
}

.panel .mode-button {
  font-size: 1.8rem;
  width: 8rem;
}

.panel .definite-button {
  color: black;
  font-size: 2.5rem;
}

.panel .possible-button {
  color: #616161;
  font-size: 1.2rem;
}
