@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
}

header {
  border-bottom: 1px solid #777;
  margin-bottom: 1em;
}

header h1 {
  margin: 0.25em;
  text-align: center;
}

main {
  margin-left: 2em;
  display: flex;
  justify-content: space-between;
}

.board {
  border: 1px solid #777;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 540px;
  width: 540px;
}

.cell {
  border: 1px solid #777;
}

.set-cell {
  color: #101010;
  font-size: 45px;
  text-align: center;
}

.definite-cell {
  color: #0000fa;
  font-size: 45px;
  text-align: center;
}

.possibles-cell {
  padding: 5px;
  color: #616161;
  font-size: 14px;
}

.panel {
  flex: 1;
}
