@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap');

:root {
  --set-colour: #101010;
  --definite-colour: #8000a0;
  --possible-colour: #545454;

  --selected-bg: #ffffb3;

  --grey-border: #777;

  --button-selected: #b3ffb3;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
}

header {
  border-bottom: 1px solid var(--grey-border);
  margin-bottom: 1em;
}

header h1 {
  margin: 0.25em;
  text-align: center;
}

main {
  margin-left: 2em;
  display: flex;
  justify-content: flex-start;
}

.board {
  border: 1px solid var(--grey-border);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 540px;
  width: 540px;
}

.cell {
  border: 1px solid var(--grey-border);
  cursor: pointer;
  position: relative;
}

.selected-cell {
  background: var(--selected-bg);
}

.set-cell, .definite-cell {
  color: var(--set-colour);
  font-size: 2.9rem;
  text-align: center;
}

.definite-cell {
  color: var(--definite-colour);
}

.possible-numbers {
  color: var(--possible-colour);
  font-size: 0.9rem;
}

.possibles {
  left: 0.2rem;
  position: absolute;
  top: 0.2rem;
}

.candidates {
  position: absolute;
  text-align: center;
  top: calc(30px - 0.55rem);
  width: 100%;
}

.border-1 {
  border-top-color: black;
  border-top-width: 2px;
}

.border-14 {
  border-top-color: black;
  border-left-color: black;
  border-top-width: 2px;
  border-left-width: 2px;
}

.border-12 {
  border-top-color: black;
  border-right-color: black;
  border-top-width: 2px;
  border-right-width: 2px;
}

.border-2 {
  border-right-color: black;
  border-right-width: 2px;
}

.border-23 {
  border-right-color: black;
  border-bottom-color: black;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.border-3 {
  border-bottom-color: black;
  border-bottom-width: 2px;
}

.border-34 {
  border-bottom-color: black;
  border-left-color: black;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.border-4 {
  border-left-color: black;
  border-left-width: 2px;
}

/* Panel */

.panel {
  align-self: start;
  display: flex;
  flex-direction: column;
}

.panel-set, .panel-solve {
  display: grid;
  grid-gap: 0.35rem;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 0 2em;
  width: 24rem;
}

.panel-set {
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.35rem;
  width: 15rem;
}

.panel button {
  border-radius: 0.25em;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  width: 4rem;
}

.panel .function-button {
  font-size: 1.8rem;
  width: 8rem;
}

.panel .mode-button.selected {
  background: var(--button-selected);
}

.panel .definite-button {
  color: black;
  font-size: 2.5rem;
}

.panel .possibles-button {
  color: var(--possible-colour);
  font-size: 1.4rem;
}
